.topnav {
  background-color: #FFE4E4;
  overflow: hidden;
}

.topnav p{
float: left;
  color: #FFA4A4;
  text-align: center; 
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a {
  float: right;
  color: #FFA4A4;
  text-align: center; 
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #FFA4A4;
  color: black;  
}

.topnav a.active {
  background-color: #FFFFFF;
  color: #FFA4A4;
}
